<h1> Downloads </h1>
<ul>
<li><%= link_to "Telangana welfare schemes", download_path(data: true), :method => "post" %></li>
<li><%= link_to "Andhra Pradesh Welfare schemes", download_path(sample: true), :method => "post" %></li>
<li><%= link_to "Recent Govt GO's", download_path(demo: true), :method => "post" %></li>
</ul>
<%= button_to "Close", hide_options_path,
:remote => true,
:method => "post" %>