	@import "bootstrap-sprockets";
    @import "bootstrap";

    
	#logo {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: black;
	}
	}

	#main_content {
	#content {
		float: none;
	}
	padding-bottom: 10px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
	}
	
    .asklogo img {
    width: 20%;
    height: 20%;
    }

    hr {
    color: #31C8C0;
    background-color: #31C8C0;
    width: 80%;
    height: 5px; 
    }

    .page h2 {
    text-align: center;
    }


    .imgContainer{
    float:left;

    }

    .imgContainer img{
     width:200px;
     height:200px;
    }

  

    .marginn div{
    display:inline-block;
    }

    .marginn {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    }

    .marginn2 {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    }

    .page2 h2 {
    text-align: center;
    }

    .textContainer1 p{
     width:300px;
     height:200px;
    }

    .foooter {
    position: relative;
    z-index: 10;
    height: 13em;
    margin-top: black;
    background-color: #31C8C0;

    }

    .indextext p {
    margin-left: 30px;
    font-size: 20px;
    word-spacing: 10px;
    }

    #footerline hr {
    color: #31C8C0;
    background-color: #31C8C0;
    width: 100%;
    height: 5px; 
    }

    #footertext {
    position: absolute; 
    bottom: 0;
    right: 20px;
    width: 1000px;
    text-align:right;
    color: white;
    font-weight: bold;
    }
    .textcontainer > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 150px;
    text-align: center;
    color: white;
    margin-left: 30px;
    }

    .whorwe {
    font-size: 30px;
    margin-left: 30px;
    }

    .counter {
    border-style: solid;
    border-color: #286090;
    max-width: 80%;
    }
